/* Coolors Exported Palette - coolors.co/ef7d16-374763-299ab3-6ee6ff-dde4ed */

/* HSL */
$color1: hsla(28%, 87%, 51%, 1);
$color2: hsla(218%, 29%, 30%, 1);
$color3: hsla(191%, 63%, 43%, 1);
$color4: hsla(190%, 100%, 72%, 1);
$color5: hsla(214%, 31%, 90%, 1);

/* RGB */
$color1: rgba(239, 125, 22, 1);
$color2: rgba(55, 71, 99, 1);
$color3: rgba(41, 154, 179, 1);
$color4: rgba(110, 230, 255, 1);
$color5: rgba(221, 228, 237, 1);